main{
   
    
    .card-group{
        
        .card{
            background-color: #4e5c4e;
            -webkit-box-shadow: 6px 6px 10px 3px rgba(0,0,0,0.74);
            -moz-box-shadow: 6px 6px 10px 3px rgba(0,0,0,0.74);
            box-shadow: 6px 6px 10px 3px rgba(0,0,0,0.74);
            margin: 1.5em;
            h5{
                color: #a1dca1;
                font-weight: bold;
            }
            p{
                color: #a1dca1;
                
                padding: 1em;
                a{
                    color: #a1dca1;  
                }
            .collapse{
                .card-body{
                    color:#a1dca1;  
                }
            }

            }
            
        }
        .card-body{
            color: #a1dca1;
            text-align: center;
            p{
                
               a{ color: #a1dca1 !important;

               } 

            }
        }
    }
    .card-group-1{
        margin-top: 5em;
    }
}