@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

main {
  overflow-x: hidden;
}

* {
  font-family: "Times New Roman", Times, serif;
  color: #4e5c4e;
}

.background-container {
  background-color: #e5f8e5;
}

header img {
  width: 3em;
}

.footer-container {
  display: flex;
  position: fixed;
  bottom: 0;
  background-color: #F8F9FA;
  border-top: black 1px solid;
  align-items: center;
  justify-content: end;
  width: 100%;
}
.footer-container a img {
  margin-right: 1em;
}

.background-container main {
  width: 100% !important;
}
.background-container main h1 {
  color: #4e5c4e;
  margin-top: 1em;
  text-align: center;
  font-size: 2em;
  text-shadow: 2px 2px 4px #a1dca1;
  font-weight: bold;
  letter-spacing: -1px;
  margin-bottom: 1em;
}
.background-container main .moñas-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}
.background-container main .moñas-container .moñas-card {
  background-color: #4e5c4e;
  -webkit-box-shadow: 6px 6px 10px 3px rgba(0, 0, 0, 0.74);
  -moz-box-shadow: 6px 6px 10px 3px rgba(0, 0, 0, 0.74);
  box-shadow: 6px 6px 10px 3px rgba(0, 0, 0, 0.74);
  margin: 1.5em;
}
.background-container main .moñas-container .moñas-card p {
  color: #a1dca1;
  text-align: center;
  padding: 1em;
}
.background-container main .button-container {
  display: flex;
  margin-bottom: 5em;
  margin-top: 1em;
  align-items: center;
  justify-content: center;
}
.background-container main .button-container .button {
  color: #a1dca1;
  border: 1px solid #4e5c4e;
  background-color: #4e5c4e;
  -webkit-box-shadow: 6px 6px 10px 3px rgba(0, 0, 0, 0.74);
  -moz-box-shadow: 6px 6px 10px 3px rgba(0, 0, 0, 0.74);
  box-shadow: 6px 6px 10px 3px rgba(0, 0, 0, 0.74);
}
.background-container main .button-container .button:hover {
  background-color: #869386;
}
.background-container main .collage {
  display: flex;
  flex-direction: column;
  margin-bottom: 3em;
}
.background-container main .collage .collage-item {
  background-color: white;
  padding: 10px 10px 50px 10px;
  border: 1px solid #BFBFBF;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.8);
}
.background-container main .collage .item-1 {
  transform: translateX(-1em);
  rotate: -10deg;
  transition: all 2s;
}
.background-container main .collage .item-1:hover {
  transform: translateX(0.5em);
  rotate: 5deg;
}
.background-container main .collage .item-2 {
  transform: translateX(1em);
  rotate: 5deg;
  transition: all 2s;
}
.background-container main .collage .item-2:hover {
  transform: translateX(-0.5em);
  rotate: -5deg;
}
.background-container main .collage .item-3 {
  transform: translateX(-0.5em);
  rotate: -15deg;
  transition: all 2s;
}
.background-container main .collage .item-3:hover {
  transform: translateX(-0.5em);
  rotate: 5deg;
}

main {
  height: 100%;
}
main .map-container {
  display: flex;
  margin: 1em;
  margin-top: 4em;
  justify-content: center;
  align-items: center;
}
main .map-container .mapa {
  width: 100%;
}
main .datos-contacto-container {
  display: flex;
  flex-direction: column;
}
main .datos-contacto-container div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
}
main .datos-contacto-container div img {
  margin-right: 0.5em;
}
main .datos-contacto-container div p {
  font-size: 1em;
}
main .datos-contacto-container .email-container {
  margin-bottom: 5em;
}

main {
  margin-bottom: 3em;
  display: flex;
  flex-direction: column;
}
main .carousel {
  margin: 1em !important;
}
main h2 {
  color: #4e5c4e;
  margin-top: 1em;
  text-align: center;
  font-size: 2em;
  text-shadow: 2px 2px 4px #a1dca1;
  font-weight: bold;
  letter-spacing: -1px;
  margin-bottom: 1em;
}
main .quienes-somos p {
  text-align: center;
  margin: 1em;
}

/*# sourceMappingURL=style.css.map */
